    .custom-main-panel {
      background-color: transparent !important;
    }
    #title {
      font-weight: bold;
    }
    .case1 {
      background-color: #d8f4fc;
      font-family: system-ui;
      border-radius: 10px;
      text-align: center;
      font-size:15px;
      color:#4298f5;
      font-weight: bold;
      margin-bottom:10px; 
      padding-top:10px; 
      padding-bottom:10px;
      border: 1px solid orange;
      
    }
    #histwhiskersPlot {
      border-radius:10px;
    }
    .case2 {
      font-family: Geneva, Verdana, sans-serif;
      border-radius: 10px;
      text-align: center;
      font-size:19px;
      background-color:#4298f5;
      color: white;
      font-weight: bold;
      padding:17px;
    }
    .remarque {
      margin-top:10px;
      font-size:12px;
    }
    .style_btn_orange {
      background-color:orange!important;
      padding:20px;
    }
    .style_btn_rouge {
      background-color:red!important;
      padding:20px;
    }
    .style_btn_vert {
      background-color:green!important;
      padding:20px;
    }
    .style_btn_bleu {
      background-color:#08519c!important;
      padding:20px;
    }
    #affichage_ventes {
      display: none;
    }
    #couleur_legende {
      display: none;
    }
    #couleur_contour {
      display: none;
    }

    .a_propos_titre {
      color:#4298f5;
      font-family: system-ui;
      text-align: center;
      font-size:50px;
      font-weight: bold;
      margin-top:150px;
      margin-bottom:10px; 
      padding-top:10px; 
      padding-bottom:10px;
    }

    .a_propos {
        margin-top:70px;
        font-family: system-ui;
        margin-left:20px;
        margin-right:20px;
        text-align:center;
        font-size: 25px;
    }

    .telechargement_donnees {
      margin-top: 20px;
      font-family: system-ui;
    }
    #telechargement_donnees_brutes {
      margin-left:5px;
    }
    
    .responsive-plot {
      width: 100%;
    }
    
    .navbar-default {
        background-color: #e8f5f9 !important;
    }
    
    .navbar-brand {

        color: black !important;
    }
    
    .navbar-nav{
      color:yellow !important;
    }
    
    .navbar-nav li a {
      font-size: 15px;
      font-weight: bold;

      color: black !important;
    }




    